BRIDGE_MODE=ARBITRARY_MESSAGE
# The private key without 0x part.
DEPLOYMENT_ACCOUNT_PRIVATE_KEY=233ecd8d7a7dd6c37a7dcd83e04345107612200f3e2a77dad556978c95400b44
DEPLOYMENT_GAS_LIMIT_EXTRA=0.2
HOME_DEPLOYMENT_GAS_PRICE=5000000000
FOREIGN_DEPLOYMENT_GAS_PRICE=5000000000
GET_RECEIPT_INTERVAL_IN_MILLISECONDS=3000

HOME_RPC_URL=https://rpc.elaeth.io
HOME_BRIDGE_OWNER=0xE0106C5A09e74646c744fcfe309FCDDBC39804A3
HOME_VALIDATORS_OWNER=0xA43323EAbe5e98bD332BddcADF9f07d355c8e86d
HOME_UPGRADEABLE_ADMIN=0x48dB527BdDC5849E54DCE8AE95ab331b43bc5EFF

# The maximum value of gas for one call to be allowed for relaying.
HOME_MAX_AMOUNT_PER_TX=2000000
HOME_REQUIRED_BLOCK_CONFIRMATIONS=1
HOME_GAS_PRICE=5000000000

FOREIGN_RPC_URL=https://kovan.infura.io/v3/945c07d86744491cb15c4547227b2dfa
FOREIGN_BRIDGE_OWNER=0xE0106C5A09e74646c744fcfe309FCDDBC39804A3
FOREIGN_VALIDATORS_OWNER=0xA43323EAbe5e98bD332BddcADF9f07d355c8e86d
FOREIGN_UPGRADEABLE_ADMIN=0x48dB527BdDC5849E54DCE8AE95ab331b43bc5EFF

# The maximum value of estimated gas for one transaction in Wei.
FOREIGN_MAX_AMOUNT_PER_TX=2000000
FOREIGN_REQUIRED_BLOCK_CONFIRMATIONS=1
FOREIGN_GAS_PRICE=10000000000

REQUIRED_NUMBER_OF_VALIDATORS=1
# If several validators are used, list them separated by space without quotes
# E.g. VALIDATORS=0x 0x 0x
VALIDATORS=0x48344C01D8Df02257a38ff7F3ed7fD311b5B924B