BRIDGE_MODE=ARBITRARY_MESSAGE
# The private key without 0x part.
DEPLOYMENT_ACCOUNT_PRIVATE_KEY=22c246bba2bbc21e7ec4ef90a55df5be91e673b6ea679adc1165a4e06be6714b
DEPLOYMENT_GAS_LIMIT_EXTRA=0.2
HOME_DEPLOYMENT_GAS_PRICE=5000000000
FOREIGN_DEPLOYMENT_GAS_PRICE=5000000000
GET_RECEIPT_INTERVAL_IN_MILLISECONDS=3000

HOME_RPC_URL=https://rpc.elaeth.io
HOME_BRIDGE_OWNER=0xcdbb781AC508B19c126646E9aEDF1475144c0262
HOME_VALIDATORS_OWNER=0xcdbb781AC508B19c126646E9aEDF1475144c0262
HOME_UPGRADEABLE_ADMIN=0xcdbb781AC508B19c126646E9aEDF1475144c0262

# The maximum value of gas for one call to be allowed for relaying.
HOME_MAX_AMOUNT_PER_TX=2000000
HOME_REQUIRED_BLOCK_CONFIRMATIONS=1
HOME_GAS_PRICE=5000000000

FOREIGN_RPC_URL=https://kovan.infura.io/v3/945c07d86744491cb15c4547227b2dfa
FOREIGN_BRIDGE_OWNER=0xcdbb781AC508B19c126646E9aEDF1475144c0262
FOREIGN_VALIDATORS_OWNER=0xcdbb781AC508B19c126646E9aEDF1475144c0262
FOREIGN_UPGRADEABLE_ADMIN=0xcdbb781AC508B19c126646E9aEDF1475144c0262

# The maximum value of estimated gas for one transaction in Wei.
FOREIGN_MAX_AMOUNT_PER_TX=2000000
FOREIGN_REQUIRED_BLOCK_CONFIRMATIONS=1
FOREIGN_GAS_PRICE=10000000000

REQUIRED_NUMBER_OF_VALIDATORS=1
# If several validators are used, list them separated by space without quotes
# E.g. VALIDATORS=0x 0x 0x
VALIDATORS=0x4456D699Fb0b98350A910B912c6fA035148b1b6F

 # The api url of an explorer to verify all the deployed contracts in Home network.
 HOME_EXPLORER_URL=https://testnet.elaeth.io/api
 # The api url of an explorer to verify all the deployed contracts in Foreign network.
 FOREIGN_EXPLORER_URL=https://api-kovan.etherscan.io/api
 # The api key of the explorer api, if required, used to verify all
 # the deployed contracts in Foreign network.
 FOREIGN_EXPLORER_API_KEY=3HHGNXDBAFXGCU52DI2DYABPNF18QQ8UBS