 # The type of bridge. Defines set of contracts to be deployed.
 BRIDGE_MODE=AMB_ERC_TO_ERC

 # The private key hex value of the account responsible for contracts
 # deployments and initial configuration. The account's balance must contain
 # funds from both networks.
 DEPLOYMENT_ACCOUNT_PRIVATE_KEY=233ecd8d7a7dd6c37a7dcd83e04345107612200f3e2a77dad556978c95400b44
 # The "gas" parameter set in every deployment/configuration transaction.
 DEPLOYMENT_GAS_LIMIT_EXTRA=0.2
 # The "gasPrice" parameter set in every deployment/configuration transaction on
 # Home network (in Wei).
 # ----------------------- 1 gwei
 HOME_DEPLOYMENT_GAS_PRICE=1000000000
 # The "gasPrice" parameter set in every deployment/configuration transaction on
 # Foreign network (in Wei).
 # -------------------------- 30 gwei
 FOREIGN_DEPLOYMENT_GAS_PRICE=30000000000
 # The timeout limit to wait for receipt of the deployment/configuration
 # transaction.
 GET_RECEIPT_INTERVAL_IN_MILLISECONDS=3000

 # The name of the ERC677 token to be deployed on the Home network.
 BRIDGEABLE_TOKEN_NAME=Main on Elaeth
 # The symbol name of the ERC677 token to be deployed on the Home network.
 BRIDGEABLE_TOKEN_SYMBOL=MAIN
 # The number of supportable decimal digits after the "point" in the ERC677 token
 # to be deployed on the Home network.
 BRIDGEABLE_TOKEN_DECIMALS=18

 # The RPC channel to a Home node able to handle deployment/configuration
 # transactions.
 HOME_RPC_URL=https://rpc.elaeth.io
 # Address on Home network with permissions to change parameters of the bridge contract.
 # For extra security we recommended using a multi-sig wallet contract address here.
 HOME_BRIDGE_OWNER=0xE0106C5A09e74646c744fcfe309FCDDBC39804A3
 # Address on Home network with permissions to upgrade the bridge contract
 HOME_UPGRADEABLE_ADMIN=0xE0106C5A09e74646c744fcfe309FCDDBC39804A3
 # The daily transaction limit in Wei. As soon as this limit is exceeded, any
 # transaction which requests to relay assets will fail.
 # -------------- 100'000 tokens
 HOME_DAILY_LIMIT=100000000000000000000000
 # The maximum limit for one transaction in Wei. If a single transaction tries to
 # relay funds exceeding this limit it will fail. HOME_MAX_AMOUNT_PER_TX must be
 # less than HOME_DAILY_LIMIT.
 # -------------------- 10'000 tokens
 HOME_MAX_AMOUNT_PER_TX=10000000000000000000000
 # The minimum limit for one transaction in Wei. If a transaction tries to relay
 # funds below this limit it will fail. This is required to prevent dryout
 # validator accounts.
 # -------------------- 0.01 tokens
 HOME_MIN_AMOUNT_PER_TX=10000000000000000

 # The RPC channel to a Foreign node able to handle deployment/configuration
 # transactions.
 FOREIGN_RPC_URL=https://kovan.infura.io/v3/945c07d86744491cb15c4547227b2dfa
 # Address on Foreign network with permissions to change parameters of the bridge contract.
 # For extra security we recommended using a multi-sig wallet contract address here.
 FOREIGN_BRIDGE_OWNER=0xE0106C5A09e74646c744fcfe309FCDDBC39804A3
 # Address on Foreign network with permissions to upgrade the bridge contract and the
 # bridge validator contract.
 FOREIGN_UPGRADEABLE_ADMIN=0xE0106C5A09e74646c744fcfe309FCDDBC39804A3
 # The daily limit in Wei. As soon as this limit is exceeded, any transaction
 # requesting to relay assets will fail.
 # ----------------- 500'000 tokens
 FOREIGN_DAILY_LIMIT=500000000000000000000000
 # The maximum limit per one transaction in Wei. If a transaction tries to relay
 # funds exceeding this limit it will fail. FOREIGN_MAX_AMOUNT_PER_TX must be less
 # than FOREIGN_DAILY_LIMIT.
 # ----------------------- 100'000 tokens
 FOREIGN_MAX_AMOUNT_PER_TX=100000000000000000000000
 # The minimum limit for one transaction in Wei. If a transaction tries to relay
 # funds below this limit it will fail.
 # ----------------------- 0.01 tokens
 FOREIGN_MIN_AMOUNT_PER_TX=10000000000000000

 # The address of the existing ERC20/ERC677/ERC827 compatible token in the 
 # Foreign network to be exchanged to the ERC677 token deployed on Home.
 ERC20_TOKEN_ADDRESS=0x41c16473b12211892c813f52815f700440471aa0

 # The address of the existing AMB bridge in the Home network that will be
 # used to pass messages to the Foreign network.
 HOME_AMB_BRIDGE=0x57337AD2A20E9f6c291B0f6dd082d6f5508e29ee
 # The address of the existing AMB bridge in the Foreign network that will
 # be used to pass messages to the Home network.
 FOREIGN_AMB_BRIDGE=0x91042E6DDc04D02a6216476c233AA036eb59916F
 # The gas limit that will be used in the execution of the message
 # passed to the mediator contract in the Foreign network.
 HOME_MEDIATOR_REQUEST_GAS_LIMIT=500000
 # The gas limit that will be used in the execution of the message
 # passed to the mediator contract in the Home network.
 FOREIGN_MEDIATOR_REQUEST_GAS_LIMIT=500000

 # The api url of an explorer to verify all the deployed contracts in Home network.
 HOME_EXPLORER_URL=https://testnet.elaeth.io/api
 # The api url of an explorer to verify all the deployed contracts in Foreign network.
 FOREIGN_EXPLORER_URL=https://api-kovan.etherscan.io/api
 # The api key of the explorer api, if required, used to verify all
 # the deployed contracts in Foreign network.
 FOREIGN_EXPLORER_API_KEY=3HHGNXDBAFXGCU52DI2DYABPNF18QQ8UBS