BRIDGE_MODE=ARBITRARY_MESSAGE
# The private key without 0x part.
DEPLOYMENT_ACCOUNT_PRIVATE_KEY=272ab605a52abacbea499abf894e91413daf1f72d0036432c32adb4294351594
DEPLOYMENT_GAS_LIMIT_EXTRA=0.2
HOME_DEPLOYMENT_GAS_PRICE=5000000000
FOREIGN_DEPLOYMENT_GAS_PRICE=5000000000
GET_RECEIPT_INTERVAL_IN_MILLISECONDS=3000

HOME_RPC_URL=https://rpc.elaeth.io
HOME_BRIDGE_OWNER=0xB37d93386BFF61dA03B7d8856F8479dAB0904a0d
HOME_VALIDATORS_OWNER=0xB37d93386BFF61dA03B7d8856F8479dAB0904a0d
HOME_UPGRADEABLE_ADMIN=0xB37d93386BFF61dA03B7d8856F8479dAB0904a0d

# The maximum value of gas for one call to be allowed for relaying.
HOME_MAX_AMOUNT_PER_TX=2000000
HOME_REQUIRED_BLOCK_CONFIRMATIONS=1
HOME_GAS_PRICE=5000000000

FOREIGN_RPC_URL=https://kovan.infura.io/v3/945c07d86744491cb15c4547227b2dfa
FOREIGN_BRIDGE_OWNER=0xB37d93386BFF61dA03B7d8856F8479dAB0904a0d
FOREIGN_VALIDATORS_OWNER=0xB37d93386BFF61dA03B7d8856F8479dAB0904a0d
FOREIGN_UPGRADEABLE_ADMIN=0xB37d93386BFF61dA03B7d8856F8479dAB0904a0d

# The maximum value of estimated gas for one transaction in Wei.
FOREIGN_MAX_AMOUNT_PER_TX=2000000
FOREIGN_REQUIRED_BLOCK_CONFIRMATIONS=1
FOREIGN_GAS_PRICE=10000000000

REQUIRED_NUMBER_OF_VALIDATORS=1
# If several validators are used, list them separated by space without quotes
# E.g. VALIDATORS=0x 0x 0x
VALIDATORS=0x5dF1239CCC3D888bA6C95c55E20307FB0581871F